/* RESET */
body, ul, li, p {
    background-color: #fff;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}


a {
    text-decoration: none;
}

.header {
    width: 100%;
    max-width: 100%;
    background: #DEE4E6;
}

.menu {
    display: flex;
    justify-content: center;
    line-height: 0;
    
}

.menu ul {
    display: flex;
    align-items: center;
    padding: 8px 0 0 0;
    background: #DEE4E6;
}

.menu li {
    margin-left: 40px;
    background: #DEE4E6;
}

.menu li:first-child {
    margin-left: 0;
}

.menu li a {
    text-transform: uppercase;
    font-size: 14px;
    color: #463130;
    line-height: 1.7em;
    font-weight: normal;
    font-style: normal;
    background: #DEE4E6;
}

.menu li .btn-down::after {
    content: "⌄";
    font-size: 21px;
    margin-left: 6px;
}

.menu li .btn-down {
    margin-bottom: 2px!important;
}

.menu li a img {
    height: auto;
    width: 146px;
    border-radius: 74px;
    background: #DEE4E6;
}

.principal {
    display: flex;
    justify-content: space-around;
    padding: 1.5em;
}

.principal .banner {
    display: flex;
    justify-content: center;
    text-align: center;
    background: url(/img/restaurant.jpg) no-repeat;
    height: 400px;
    width: 600px;
    /*margin: 0 300px;*/
}

.principal .banner2 {
    display: flex;
    justify-content: center;
    text-align: center;
    background: url(/img/bakery-baking-berry-357623.jpg) no-repeat;
    height: 386px;
    width: 600px;
    /*margin: 0 300px;*/
}

.principal .title span {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color: #270C08!important;
    /*color: #57433f!important;*/
}

.principal .title #uppercase {
    text-transform: uppercase;
    font-size: 24px!important;
    padding-top: 5px;
}

.principal .title #lowercase {
    font-family: 'Gloria Hallelujah', cursive;
}